$defaultButton: linear-gradient(
  113.54deg,
  #d912dd 34.86%,
  rgba(91, 26, 134, 0.75) 74.74%
);
$defaultButtonHover: linear-gradient(
  301.44deg,
  #d912dd 23.61%,
  rgba(91, 26, 134, 0.75) 69.04%
);
$white: #fff;
$black: #000;
$transparentBack: rgba(0, 0, 0, 0.76);
$gradientFont: linear-gradient(
  89.06deg,
  #f400f8 28.83%,
  #00ffff 94.43%,
  rgba(0, 96, 239, 0.84) 94.44%,
  rgba(255, 255, 255, 0) 94.45%
);
$counterBackground: radial-gradient(
  100% 128.85% at 0% 6.31%,
  #c051bf 0%,
  rgba(11, 7, 157, 0.9) 100%
);
$abtBack: linear-gradient(
  0.94deg,
  #030a1b 51.2%,
  #311250 73.95%,
  #010710 95.7%
);
