* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Audiowide", cursive;
  }
  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  
  input,
  select {
    border: none;
    outline: none;
  }
  select {
    cursor: pointer;
  }
  input {
    padding: 0.8rem;
  }
  button {
    border-radius: 4px;
    border: none;
    outline: none;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
    padding: 0.7rem 1.2rem;
    font-size: 1.2rem;
    border-radius: 0.48rem;
    background: $defaultButton;
    color: $white;
    cursor: pointer;
    &:hover {
      background: $defaultButtonHover;
    }
  }
  a {
    text-transform: none;
    text-decoration: none;
    cursor: pointer;
  }
  img {
    height: 100%;
    width: 100%;
  }
  i {
    font-size: 1.8rem;
    cursor: pointer;
  }