.maincontainer {
  .home {
    height: 110vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    .bgv {
      width: 100%;
      height: 100%;
      max-height: 100%;
      object-fit: initial;
    }
    .topcover {
      height: 100%;
      width: 100%;
      background-color: $transparentBack;
      position: absolute;
      top: 0;
      user-select: none;
      .text {
        text-align: center;
        h4 {
          margin-top: 4rem;
          font-size: 6rem;
          font-weight: 500;
          @include gradientFontType1();
        }
      }
      .counter {
        @include centerByFlex();
        margin-top: calc(100vh - 70vh);
        .sgbox {
          color: $white;
          margin: 0.2rem 2rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background: $counterBackground;
          padding: 1rem;
          height: 8rem;
          width: 8rem;
          border-radius: 10px;
          #days,
          #hours,
          #mins,
          #secs {
            font-size: 2.8rem;
          }
          .name {
            font-size: 1.3rem;
            font-weight: 400;
          }
        }
      }
      .explore {
        @include centerByFlex();
        margin-top: 8rem;
        button {
          width: 14rem;
          height: 4rem;
          font-size: 1.5rem;
        }
      }
    }
  }
  .about {
    min-height: 100vh;
    background: $abtBack;
    .resonancexi {
      position: relative;
      @include centerByFlex();
      height: 4rem;
      .bcx {
        position: absolute;
        top: -110%;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        max-width: 40rem;
        box-shadow: 0px 15px 45px rgba(0, 0, 0, 0.45),
          inset 0px -5px 10px rgba(255, 255, 255, 0.15);
        border-radius: 10px;
        padding: 2rem 1.5rem 3rem 1.5rem;
        background: $resonanceCard;
        #rex {
          text-align: center;
          span {
            font-size: 3.5rem;
            @include gradientFontType1();
            background: $resonance;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
          }
        }
        #start {
          padding-bottom: 2rem;
          margin-top: 0.5rem;
          font-size: 1.5rem;
          font-weight: 500;
          color: $lightblue;
          text-align: center;
        }
        #text {
          font-size: 1.3rem;
          color: $white;
          text-align: center;
          text-align: center;
        }
      }
    }
    .myth {
      width: 100%;
      margin-top: 30rem;
      @include centerByFlex();
      p {
        font-size: 3rem;
        width: 50%;
        max-width: 60rem;
        text-align: center;
        color: $white;
        .ty1 {
          @include ty1();
        }
        .ty2 {
          @include ty2();
        }
      }
    }
    .lgo {
      margin-top: 10rem;
      @include centerByFlex();
      img {
        height: 29rem;
        width: 29rem;
      }
    }
  }
  .events {
    min-height: 100vh;
    background: $bg2;
    position: relative;

    h4 {
      text-align: center;
      @include eor;
      font-size: 4rem;
      padding-top: 7rem;
    }
    .cardcontainer {
      display: grid;
      grid-template-columns: auto auto auto;
      justify-content: space-evenly;

      margin-top: 8rem;
      .scardcontainer {
        height: 27rem;
        width: 29rem;
        background: rgba(255, 255, 255, 0.05);

        margin: 1rem;
        border-radius: 15px;
        padding: 2rem;
        z-index: 100;
        backdrop-filter: blur(2px);
        h4 {
          padding-top: 0;
          @include cardTitle();
          font-size: 3rem;
          font-weight: 400;
        }
        .btndiv {
          @include centerByFlex();
          margin-top: 3rem;
        }
        .imgdiv {
          @include centerByFlex();
          margin-top: 3rem;
          img {
            height: 10rem;
            width: 10rem;
          }
        }
      }
    }
    .cardcontainer2 {
      display: flex;
      //grid-template-columns: auto;
      justify-content: center;
      .scardcontainer {
        height: 27rem;
        width: 29rem;
        background: rgba(255, 255, 255, 0.05);
        margin: 1rem;
        border-radius: 15px;
        padding: 2rem;

        backdrop-filter: blur(10px);
        h4 {
          padding-top: 0;
          @include cardTitle();
          font-size: 3rem;
          font-weight: 400;
        }
        .btndiv {
          @include centerByFlex();
          margin-top: 3rem;
        }
        .imgdiv {
          @include centerByFlex();
          margin-top: 3rem;
          img {
            height: 10rem;
            width: 10rem;
          }
        }
      }
    }
  }
  .ladies {
    background: $conic;
    position: relative;
    padding-top: 10rem;
    h4 {
      position: absolute;
      right: 9%;
      top: 25%;
      font-size: 5rem;
      text-align: center;
      color: $white;
      font-weight: 500;
      .asmb {
        @include assemble();
      }
      .dsmb {
        color: #00ffff;
      }
    }
  }
  .slider {
    height: 200vh;
    padding-top: 15rem;
    background: linear-gradient(0.84deg, #030214 0.46%, #130855 99.41%);
    .sliderrow {
      @include centerByFlex();
      .sliderwindow {
        height: 400px;
        width: 350px;
      }
    }
    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 18px;
      font-size: 22px;
      font-weight: bold;
      color: #fff;
    }

    .swiper-slide {
      background-image: url(./../images/bg.png);
      background-size: cover;
    }
  }
}
@media only screen and (max-width: 1373px) {
  .maincontainer {
    .home {
      height: 100vh;
    }
  }
}
@media only screen and (max-width: 1028px) {
  .maincontainer {
    .home {
      height: 80vh;
      .topcover {
        .text {
          h4 {
            font-size: 4rem;
          }
        }
        .counter {
          @include centerByFlex();
          margin-top: calc(100vh - 75vh);
          .sgbox {
            padding: 1rem;
            height: 7.6rem;
            width: 7.6rem;
            #days,
            #hours,
            #mins,
            #secs {
              font-size: 2.4rem;
            }
            .name {
              font-size: 1.1rem;
            }
          }
        }
        .explore {
          margin-top: 4rem;
          button {
            width: 13rem;
            height: 4rem;
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 911px) {
  .maincontainer {
    .home {
      height: 80vh;
      .topcover {
        .text {
          h4 {
            font-size: 4rem;
          }
        }
        .counter {
          @include centerByFlex();
          margin-top: calc(100vh - 75vh);
          .sgbox {
            padding: 1rem;
            height: 7.6rem;
            width: 7.6rem;
            #days,
            #hours,
            #mins,
            #secs {
              font-size: 2.4rem;
            }
            .name {
              font-size: 1.1rem;
            }
          }
        }
        .explore {
          margin-top: 4rem;
          button {
            width: 13rem;
            height: 4rem;
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 798px) {
  .maincontainer {
    .home {
      height: 80vh;
      .topcover {
        .text {
          h4 {
            font-size: 4rem;
          }
        }
        .counter {
          @include centerByFlex();
          margin-top: calc(100vh - 79vh);
          .sgbox {
            height: 7.4rem;
            width: 7.4rem;
            margin: 0.2rem 1.2rem;
            #days,
            #hours,
            #mins,
            #secs {
              font-size: 2.2rem;
            }
            .name {
              font-size: 1rem;
            }
          }
        }
        .explore {
          margin-top: 3rem;
          button {
            width: 11rem;
            height: 4rem;
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 712px) {
  .maincontainer {
    .home {
      height: 70vh;
      .topcover {
        .counter {
          @include centerByFlex();
          margin-top: calc(100vh - 85vh);
          .sgbox {
            height: 6.4rem;
            width: 6.4rem;
            margin: 0.2rem 1rem;
            #days,
            #hours,
            #mins,
            #secs {
              font-size: 2rem;
            }
            .name {
              font-size: 0.9rem;
            }
          }
        }
        .explore {
          margin-top: 3rem;
          button {
            width: 10rem;
            height: 3.8rem;
            font-size: 1.3rem;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 598px) {
  .maincontainer {
    .home {
      height: 60vh;
      .topcover {
        .text{
          h4{
            font-size: 3.5rem
          }
        }
        .counter {
          @include centerByFlex();
          margin-top: calc(100vh - 89vh);
          .sgbox {
            height: 5.4rem;
            width: 5.4rem;
            margin: 0.2rem 0.8rem;
            #days,
            #hours,
            #mins,
            #secs {
              font-size: 1.72rem;
            }
          }
        }
        .explore {
          margin-top: 2.8rem;
          button {
            width: 8rem;
            height: 3.3rem;
            font-size: 1.1rem;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 495px) {
  .maincontainer {
    .home {
      height: 50vh;
      .topcover {
        .text{
          h4{
            font-size: 2.8rem
          }
        }
        .counter {
          @include centerByFlex();
          margin-top: calc(100vh - 92vh);
          .sgbox {
            height: 4.4rem;
            width: 4.4rem;
            margin: 0.2rem 0.5rem;
            border-radius: 3px;
            #days,
            #hours,
            #mins,
            #secs {
              font-size: 1rem;
            }
          }
        }
        .explore {
          margin-top: 2.4rem;
          button {
            width: 6rem;
            @include centerByFlex();
            padding: 0;
            height: 2.8rem;
            font-size: 1rem;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 399px) {
  .maincontainer {
    .home {
      height: 45vh;
      .topcover {
        .text{
          h4{
            font-size: 2.4rem
          }
        }
        .counter {
          @include centerByFlex();
          margin-top: calc(100vh - 92vh);
          .sgbox {
            height: 4rem;
            width: 4rem;
            margin: 0.2rem 0.3rem;
            border-radius: 3px;
            #days,
            #hours,
            #mins,
            #secs {
              font-size: 0.9rem;
            }
            .name{
              font-size: 0.7rem;
            }
          }
        }
        .explore {
          margin-top: 2.4rem;
          button {
            width: 6rem;
            @include centerByFlex();
            padding: 0;
            border-radius: 4px;
            height: 2.8rem;
            font-size: 1rem;
            font-weight: 500;
          }
        }
      }
    }
  }
}