@mixin centerByFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin gradientFontType1 {
  background: $gradientFont;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
@mixin centerByGrid {
  display: grid;
  place-items: center;
}
@mixin ty1 {
  background: linear-gradient(
    272.56deg,
    #f751fb 15.04%,
    rgba(0, 255, 255, 0.89) 60.67%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
@mixin ty2 {
  background: linear-gradient(90.19deg, #f751fb 38.34%, #00ffff 76.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
@mixin eor {
  background: linear-gradient(
    265.95deg,
    #f751fb 31.57%,
    #00ffff 98.37%,
    rgba(0, 96, 239, 0.84) 98.38%,
    rgba(255, 255, 255, 0) 98.38%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
