.wrapper {
  min-height: 100vh;
  background: $abtBack;
  display: flex;
  justify-content: center;
  align-items: center;
  .inner {
    padding: 2rem;
    background: transparent;
    box-shadow: -.2rem -.2rem .3rem rgba(255,255,255,.2),
    .25rem .25rem .4rem rgba(0,0,0,.6);
    max-width: 80rem;
    margin: auto;
    border-radius: 1.5rem;
    display: flex;
    backdrop-filter: blur(1.5px);
    .image-holder {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      .image {
        height: 30rem;
        width: 30rem;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    form {
      width: 50%;
      padding-top: 4rem;
      padding-left: 0;
      padding-right: 3rem;
      display: grid;
      h3 {
        text-transform: uppercase;
        font-size: 3rem;
        text-align: center;
        font-weight: 500;
        //padding-right: 1.5rem;

        @include gradientFontType1();
        margin-bottom: 30px;
      }
      .form-group {
        display: flex;
        input {
          width: 50%;
          background-color: transparent;
          caret-color: #00dafc;
          color: #00dafc;
          letter-spacing: 2px;
        }
        .form-control {
          border: none;
          border-bottom: 1px solid #e71de7;
          display: block;
          width: 100%;
          height: 30px;
          padding-right: 0;
          margin-bottom: 25px;
        }
      }
      .form-wrapper {
        position: relative;
        input {
          background-color: transparent;
          caret-color: #00dafc;
          color: #00dafc;
          letter-spacing: 2px;
        }
        .form-control {
          border: none;
          border-bottom: 1px solid #e71de7;
          display: block;
          width: 100%;
          height: 30px;
          padding-right: 0;
          margin-bottom: 25px;
        }
        select {
          cursor: pointer;
          color: rgb(116, 119, 119);
          background-color: transparent;
          letter-spacing: 2px;
          #male{
            color: #00dafc;
            background-color: #272427;
          }
          #events{
            color: #00dafc;
            background-color: #272427;
          }
        }
        select option[value=""][disabled] {
          display: none;
        }
      }
      .buttdiv {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
    
button {
    font-family: inherit;
    font-size: 1.5rem;
    background: $defaultButton;
    color: white;
    padding: 1rem 1rem;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 1.6rem 0;
    overflow: hidden;
    transition: all 0.2s;
   }
   
   button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
   }
   
   button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
   }
   
   button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
   }
   
   button:hover svg {
    transform: translateX(3.5rem) rotate(45deg) scale(1.1);
   }
   
   button:hover span {
    transform: translateX(10rem);
   }
   
   button:active {
    transform: scale(1);
   }
   
   @keyframes fly-1 {
    from {
     transform: translateY(0.3rem);
    }
   
    to {
     transform: translateY(-0.3rem);
    }
   }
   
   
      }
    }
  }
}
.form-group input:first-child{
    margin-right: 2.5rem;
  }
  input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

@media only screen and(max-width: 760px) {
  .wrapper {
    .inner {
      display: block;
      margin: 3rem;
      .image-holder {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .image {
          width: 60%;
          height: 60%;
        }
      }
      form {
        width: 100%;
        padding: 1rem;
        display: grid;
        h3 {
          padding: 1.5rem;
        }
        .form-group {
          display: inline;
        }
        .buttdiv {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 1.5rem;
          button {
            position: relative;
            cursor: pointer;
            border-radius: 1.6rem 0;
          }
        }
      }
    }
  }
}
