* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Audiowide", cursive;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

input,
select {
  border: none;
  outline: none;
}

select {
  cursor: pointer;
}

input {
  padding: 0.8rem;
}

button {
  border-radius: 4px;
  border: none;
  outline: none;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  padding: 0.7rem 1.2rem;
  font-size: 1.2rem;
  border-radius: 1.6rem 0;
  background: linear-gradient(113.54deg, #d912dd 34.86%, rgba(91, 26, 134, 0.75) 74.74%);
  color: #fff;
  cursor: pointer;
}

button:hover {
  background: linear-gradient(301.44deg, #d912dd 23.61%, rgba(91, 26, 134, 0.75) 69.04%);
}

a {
  text-transform: none;
  text-decoration: none;
  cursor: pointer;
}

img {
  height: 100%;
  width: 100%;
}

i {
  font-size: 1.8rem;
  cursor: pointer;
}

.maincontainer {
  background: linear-gradient(359.99deg, #2d1044 -0.48%, #130855 -0.47%, #030a1b 50.54%);
}

.maincontainer .container {
  background: linear-gradient(359.99deg, #2d1044 -0.48%, #130855 -0.47%, #030a1b 50.54%);
  width: 100%;
  position: relative;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.maincontainer .container .overlay {
  height: 100%;
  width: 100%;
  color: #fff;
}

.maincontainer .overlay h4 {
  padding-top: 4rem;
  font-size: 5rem;
  text-align: center;
  letter-spacing: 0.2rem;
  font-weight: 500;
  background: linear-gradient(89.06deg, #f400f8 28.83%, #00ffff 94.43%, rgba(0, 96, 239, 0.84) 94.44%, rgba(255, 255, 255, 0) 94.45%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.maincontainer .roe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.maincontainer .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.maincontainer .overlay .highlight {
  padding: 0.6rem 1rem;
  margin: 0.1rem auto;
  border-radius: 15px;
  background-color: #34c38f;
  color: #fff;
  font-size: 1.6rem;
}

.maincontainer .overlay .pt5 {
  margin-top: 5rem;
}

.maincontainer .overlay .p1 {
  padding: 1rem;
}

.maincontainer .overlay .pt2 {
  padding-top: 2rem;
}

.maincontainer .overlay .pt1 {
  margin-top: 1rem;
}

.maincontainer .overlay .mt1 {
  margin-top: 2rem;
}

.maincontainer .overlay .fs14 {
  font-size: 1.4rem;
}

.maincontainer .initheader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}

.maincontainer .initheader p {
  width: 90%;
  max-width: 80rem;
  font-size: 1.7rem;
}

.maincontainer .bold {
  font-weight: 800;
  font-size: 2.5rem;
}

.maincontainer code {
  padding: 0.2em 0.4em;
  font-size: 85%;
  background-color: #f3edfa;
  color: #864ad1;
  border-radius: 6px;
  margin-top: 2rem;
}

.maincontainer .changelog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.maincontainer .logcontainer {
  width: 90%;
  max-width: 80rem;
  margin-top: 3rem;
}

.maincontainer .logcontainer ol li a {
  text-decoration: none;
  margin-left: 0.8rem;
  color: rgba(122, 122, 122, 0.788);
}

.maincontainer .logcontainer .single-sub-event {
  padding: 2rem 0;
  margin: 3rem 0;
  border-bottom: 1px solid rgba(0, 174, 255, 0.349);
}

.maincontainer .btnrow_ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.maincontainer .btnrow_ .logcontainer {
  width: 90%;
  max-width: 80rem;
  margin-top: 3rem;
}

.maincontainer .btnrow_ .logcontainer h5 {
  font-size: 1.6rem;
  font-weight: 900;
  text-decoration: underline;
  color: #6c6d6c;
  position: relative;
}

.maincontainer .logcontainer h5 {
  font-size: 2rem;
  font-weight: 900;
  text-decoration: underline;
  position: relative;
  color: #dddddd;
  letter-spacing: 2px;
}

.maincontainer .logcontainer h5::before {
  content: "#";
  position: absolute;
  color: rgba(122, 122, 122, 0.788);
  top: -50%;
  left: -4%;
  font-size: 4rem;
  font-weight: 200;
}

.maincontainer .pop {
  background-color: #ffefee;
  color: #ff4c41;
  font-size: 1rem;
  padding: 0.2rem 1rem;
  border-radius: 15px;
}

.maincontainer ol {
  padding: 1rem;
}

.maincontainer ol li {
  font-size: 1.5rem;
  margin: 1.5rem 0;
}

.maincontainer .btnrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.maincontainer .btnrow a {
  text-decoration: none;
}

.maincontainer button {
  border: none;
  outline: none;
  cursor: pointer;
  min-width: 110px;
  padding: 1rem 0;
  background-color: #42389d;
  border-color: #42389d;
  color: #fff;
  border-radius: 1.6rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: 400;
  font-size: 1rem;
}

.maincontainer button:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #42389d80;
  box-shadow: 0 0 0 0.2rem #42389d80;
}

@media only screen and (max-width: 400px) {
  .maincontainer .overlay h4 {
    font-size: 3rem;
  }
  .maincontainer .overlay .highlight {
    font-size: 1rem;
  }
  .maincontainer .initheader p {
    width: 85%;
    font-size: 1.4rem;
  }
  .maincontainer .bold {
    font-size: 2.3rem;
  }
  .maincontainer .logcontainer {
    width: 85%;
  }
}

.maincontainer .highlight2 {
  display: inline-block;
  padding: 0.45em 0.4em;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  color: #50a5f1;
  background-color: rgba(80, 165, 241, 0.18);
  margin: 0.5rem;
}

.maincontainer .row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
}
/*# sourceMappingURL=events.css.map */