@import "color";
@import "mixins";
@import "default";
.maincontainer {
  background: linear-gradient(
    359.99deg,
    #2d1044 -0.48%,
    #130855 -0.47%,
    #030a1b 50.54%
  );
  .container {
    background: linear-gradient(
      359.99deg,
      #2d1044 -0.48%,
      #130855 -0.47%,
      #030a1b 50.54%
    );
    width: 100%;
    position: relative;
    display: grid;
    place-items: center;
  }
  .container .overlay {
    height: 100%;
    width: 100%;
    color: #fff;
  }
  .overlay h4 {
    padding-top: 4rem;
    font-size: 5rem;
    text-align: center;
    letter-spacing: 0.2rem;
    font-weight: 500;
    @include gradientFontType1();
  }
  .roe {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .row {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .overlay .highlight {
    padding: 0.6rem 1rem;
    margin: 0.1rem auto;
    border-radius: 15px;
    background-color: #34c38f;
    color: #fff;
    font-size: 1.6rem;
  }
  .overlay .pt5 {
    margin-top: 5rem;
  }
  .overlay .p1 {
    padding: 1rem;
  }
  .overlay{
    .pt2{
      padding-top: 2rem;
    }
    .pt1{
      margin-top: 1rem;
    }
    .mt1{
      margin-top: 2rem;
    }
    .fs14{
      font-size: 1.4rem;
    }
  }
  .initheader {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
  }
  .initheader p {
    width: 90%;
    max-width: 80rem;
    font-size: 1.7rem;
  }
  .bold {
    font-weight: 800;
    font-size: 2.5rem;
  }
  code {
    padding: 0.2em 0.4em;
    font-size: 85%;
    background-color: #f3edfa;
    color: #864ad1;
    border-radius: 6px;
    margin-top: 2rem;
  }
  .changelog {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logcontainer {
    width: 90%;
    max-width: 80rem;
    margin-top: 3rem;
    ol li a{
      text-decoration: none;
      margin-left: 0.8rem;
      color:rgba(122, 122, 122, 0.788);
    }
    .single-sub-event{
      padding: 2rem 0;
      margin: 3rem 0;
      border-bottom: 1px solid rgba(0, 174, 255, 0.349);
    }
  }
  .btnrow_ {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btnrow_ .logcontainer {
    width: 90%;
    max-width: 80rem;
    margin-top: 3rem;
  }
  .btnrow_ .logcontainer h5 {
    font-size: 1.6rem;
    font-weight: 900;
    text-decoration: underline;
    color: #6c6d6c;
    position: relative;
  }
  .logcontainer h5 {
    font-size: 2rem;
    font-weight: 900;
    text-decoration: underline;
    position: relative;
    color: #dddddd;
    letter-spacing: 2px;
    &::before {
      content: "#";
      position: absolute;
      color: rgba(122, 122, 122, 0.788);
      top: -50%;
      left: -4%;
      font-size: 4rem;
      font-weight: 200;
    }
  }

  .pop {
    background-color: #ffefee;
    color: #ff4c41;
    font-size: 1rem;
    padding: 0.2rem 1rem;
    border-radius: 15px;
  }
  ol {
    padding: 1rem;
  }
  ol li {
    font-size: 1.5rem;
    margin: 1.5rem 0;
  }
  .btnrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .btnrow a {
    text-decoration: none;
  }
  button {
    border: none;
    outline: none;
    cursor: pointer;
    min-width: 110px;
    padding: 1rem 0;
    background-color: #42389d;
    border-color: #42389d;
    color: #fff;
    border-radius: 1.6rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: 400;
    font-size: 1rem;
  }
  button:focus {
    -webkit-box-shadow: 0 0 0 0.2rem #42389d80;
    box-shadow: 0 0 0 0.2rem #42389d80;
  }
  @media only screen and (max-width: 400px) {
    .overlay h4 {
      font-size: 3rem;
    }
    .overlay .highlight {
      font-size: 1rem;
    }
    .initheader p {
      width: 85%;
      font-size: 1.4rem;
    }
    .bold {
      font-size: 2.3rem;
    }
    .logcontainer {
      width: 85%;
    }
  }
  .highlight2 {
    display: inline-block;
    padding: 0.45em 0.4em;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    color: #50a5f1;
    background-color: rgba(80, 165, 241, 0.18);
    margin: 0.5rem;
  }
  .row2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
  }
}
