@import "color";

@mixin test($fg) {
    display: $fg;
    align-items: center;
    justify-content: center;
}

.home{
    background-color: $var1;
    @include test(flex); 
    .home2{
        background-color: $var2;
    @include test(grid); 

    }
}